{% extends "layouts/base.html" %}
{% load static %}
{% block title %} The Book List {% endblock title %}
{% block stylesheets %}
<!-- here I'll style the way books will be listed-->
<style>
    table {
        width: auto;
        margin: 20px auto;
        font-size: 1em;
        font-family: Times New Roman;
        text-align: center;
    }

    table, th, td {
        border: 1px solid rgb(129, 32, 48);
    }

    th {
        background-color: rgb(210, 70, 93);
        padding: 10px;
        font-weight: bold;
        color: aliceblue;
    }

    td {
        padding: 8px;
    }


</style>
{% endblock stylesheets %}


{% block content %}

<table class="Task 5">

  <tr>
    <th><b>Number of Books </b></th>
    <th><b>Total Price </b></th>
    <th><b>Average Price </b></th>
    <th><b>Max Price </b></th>
    <th><b>Min Price </b></th>
  </tr>
  <tr>
    <td>{{Query.NumBooks}} </td>
    <td>{{Query.total}} </td>
    <td>{{Query.average}} </td>
    <td>{{Query.max}} </td>
    <td>{{Query.min}} </td>
  </tr>
 

</table>


{% endblock content %}